<!--
  file name: index.ejs
  Student name: Damanpreet Singh
  Student number: 301212574
  Date : 03-06-2022  
-->

<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>

<!--Main Contents -->
<main class ="container">
<div class ="jumbotron">
<h1 class="display-4">Welcome to the <%= title %> Page </h1>
</div>
</main>
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>












   
  
  
  





